.loginPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heartContainer {
    position: absolute;
    right: 16px;
}

.heart {
    color: rgb(255, 64, 129);
    cursor: pointer;
}

.heartCount {
    color: grey;
    line-height: 1em;
}

.loginItems {
    text-align: center;
    color: white;
}

.content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 480px;
    text-align: center;
}

.showPosts {
    margin-top: 16px;
}

.post {
    padding: 16px;
    min-height: 0 !important;
    margin-bottom: 10px;
}

.vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.horizontal {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 5px;
    background: red;
}

.userName {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.userMessage {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 1.5em;
    margin-left: 15px;
    margin-right: 32px;
    margin-top: 5px;
    text-align: left;
}

.createPost .mdl-card {
    width: 480px;
}

.showPosts .mdl-card {
    width: 480px;
}

.mdl-textfield__input {
    resize: none;
}

@media screen and (max-width:480px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
    .createPost .mdl-card {
        width: 100%;
    }
    .showPosts .mdl-card {
        width: 100%;
    }
}

.txtf {
    width: 100% !important;
}

.showPosts {}

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background: #3498db;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3498db, #46B6AC);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3498db, #46B6AC);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3498db, #46B6AC);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3498db, #46B6AC);
    /* Standard syntax */
    background-repeat: no-repeat;
    background-attachment: fixed;
}